<div class="warning-modal" id="warning-modal">
  <div class="warning-modal__body">
    <div class="warning-modal__icon-wrap">
      <img 
        src="../assets/images/white-warning.svg" 
        class="warning-modal__warning-icon"
      >
    </div>
    <div class="warning-modal__content">
      <div class="warning-modal__heading" id="warning-modal-heading">
        Warning
      </div>
      <div class="warning-modal__text" id="warning-modal-text">
        You switched tabs/windows during the test. 
        Repeating this action may result in disqualification 
        and a failed test attempt.
      </div>
    </div>
  </div>
  <div class="warning-modal__action" id="warning-modal-action">
    Continue with the test
  </div>
  <span class="warning-modal__close-btn" id="warning-modal-close-btn">
    &times;
  </span>
</div>