<div id="compatibility-overlay" class="compatibility-modal__overlay">
  <div class="compatibility-modal">
    <div class="compatibility-modal__body">
      <div class="compatibility-modal__heading" id="compatibility-modal-heading"> Compatibility check: Ensure the following below </div>
      <div class="compatibility-modal__points-list">
        <div class="compatibility-modal__point" id="webcam-point">
          <img 
            src="../assets/images/checkMark.svg" 
            class="compatibility-modal__point-icon"
            id="webcam-check"
          > 
          Turn on Webcam
        </div> 
        <div class="compatibility-modal__point" id="fullscreen-point">
          <img 
            src="../assets/images/failMark.svg" 
            class="compatibility-modal__point-icon"
            id="fullscreen-check"
          >
          Enable Fullscreen &nbsp;(Press "Enter" to enable Fullscreen)
        </div>
        <div class="compatibility-modal__point" id="screenshare-point">
          <img 
            src="../assets/images/failMark.svg" 
            class="compatibility-modal__point-icon"
            id="screenshare-check"
          >
          {{ screenshare_html }}
        </div> 
        <div class="compatibility-modal__point" id="network-point">
          <img 
            src="../assets/images/failMark.svg" 
            class="compatibility-modal__point-icon"
            id="network-check"
          >
          Check your internet speed
        </div> 
      </div>
    </div>
    <div class="compatibility-modal__timer-wrap" id="compatibility-modal-timer">
      <div class="compatibility-modal__timer html">
        <div class="compatibility-modal__count-wrap">
          <div class="compatibility-modal__count" id="compatibility-modal-timer-count"></div>
          <div class="fullscreen-block__count-suffix"> Secs left </div>
        </div>
        <svg class="compatibility-modal__svg" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>Layer 1</title>
          <circle id="compatibility-modal-timer-circle" class="compatibility-modal__circle-animation" r="70" cy="81" cx="81" stroke-width="10"
          stroke="#000000" fill="none" stroke-linecap="round"/>
        </g>
        </svg>
      </div>
      <div class="compatibility-modal__warning">
        You will be disquaified when the timer ends
      </div>
    </div>
    <div class="compatibility-modal__actions">
      <div id="compatibility-continue-test-btn" class="compatibility-modal__action-btn">
        Continue
      </div>
      <div class="compatibility-modal__warning compatibility-modal__warning--mini">
        Click on continue if all settings are configured
      </div>
    </div>
  </div>
</div>
