<div id="fullscreenBlocker" class="fullscreen-blocker">
    <div class="fullscreen-blocker__fullscreen-icon" id="enable-fullscreen">
      <img 
        src="../assets/images/fullScreen.svg"
      >
    </div>
    <div class="fullscreen-blocker__content" id="fullscreen-initial-message">
      <div class="fullscreen-blocker__instruction">
        Press 
        <div class="fullscreen-blocker__key-block">
          <span class="fullscreen-blocker__key-text">
            ⏎ return
          </span>
        </div>
        or
        <div class="fullscreen-blocker__key-block">
          <span class="fullscreen-blocker__key-text">
            ⏎ enter
          </span>
        </div>
        on your keyboard to enter the test in fullscreen mode. This test can only be given in the fullscreen-mode
      </div>
    </div>
  
    <div class="fullscreen-blocker__content fullscreen-blocker__content--hidden" id="fullscreen-default-message">
      <div  class="fullscreen-blocker__content-box">
        <div class="fullscreen-blocker__icon-wrap">
          <img 
            src="../assets/images/white-warning.svg"
          >
        </div>
        <div class="fullscreen-blocker__title">
          You will be disqualified if you don’t go to Fullscreen in
        </div>
        <div class="fullscreen-blocker__timer html">
          <div class="fullscreen-blocker__count-wrap">
            <div class="fullscreen-blocker__count" id="fullscreen-blocker-timer-count">10</div>
            <div class="fullscreen-block__count-suffix"> Secs left </div>
          </div>
          <svg class="fullscreen-blocker__svg" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
          <g>
            <title>Layer 1</title>
            <circle id="fullscreen-blocker-timer-circle" class="fullscreen-blocker__circle-animation" r="70" cy="81" cx="81" stroke-width="10" stroke="#ffffff" fill="none" stroke-linecap="round"/>
          </g>
          </svg>
        </div>
      </div>
      <div class="fullscreen-blocker__instruction">
        Press 
        <div class="fullscreen-blocker__key-block">
          <span class="fullscreen-blocker__key-text">
            ⏎ Return
          </span>
        </div>
        or
        <div class="fullscreen-blocker__key-block">
          <span class="fullscreen-blocker__key-text">
            ⏎ Enter
          </span>
        </div>
        on your keyboard to return to full screen
      </div>
    </div>
  </div>