<div id="instructions-overlay" class="instructions-modal__overlay">
  <div class="instructions-modal">
    <div class="instructions-modal__body">
      <div class="instructions-modal__heading"> Before You Begin: Important Rules </div>
      <div class="instructions-modal__points-list">
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          > 
          Do not switch tabs or windows during the test
        </div> 
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          > 
          Do not copy or paste any questions or answers
        </div> 
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          >
          Keep the test in full screen mode at all times
        </div> 
      </div>
      <div class="instructions-modal__warning">
        <b>Warning:</b> Violating any rule will result in a warning. 
        Four violations will lead to disqualification and your current 
        attempt will be marked as disqualified.
      </div>
    </div>
    <div class="instructions-modal__actions">
      <div id="enter-test-btn" class="instructions-modal__action-btn">
        Enter Test
      </div>
    </div>
  </div>
</div> 