<div id="instructions-overlay" class="instructions-modal__overlay">
  <div class="instructions-modal">
    <div class="instructions-modal__body">
      <div class="instructions-modal__heading"> Compatibility check: Ensure the following below </div>
      <div class="instructions-modal__points-list">
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          > 
          Turn on Webcam
        </div> 
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          >
          Enable Fullscreen (Click enter to go fullscreen)
        </div> 
        <div class="instructions-modal__point">
          <img 
            src="../assets/images/star-point.svg" 
            class="instructions-modal__point-icon"
          >
          Check your internet speed
        </div> 
      </div>
      <div class="instructions-modal__warning">
        <b>Note:</b> You are shown this message because one of the above criteria is not met. 
        Please click on continue if the above settings are enabled
      </div>
    </div>
    <div class="instructions-modal__actions">
      <div id="enter-test-btn" class="instructions-modal__action-btn">
        Continue
      </div>
    </div>
  </div>
</div> 