$container-border-color: #F4F6F9;
$grey-text-color: #61738E;
$circle-border-color: #D6DEE5;

.container {
  @apply flex flex-col;

  border-radius: 1.2rem;
  border: 0.1rem solid $container-border-color;
  margin: 4.8rem 0;

  > :first-child {
    border-radius: 1.2rem 1.2rem 0 0;
  } 

  > :last-child {
    border-radius: 0 0 1.2rem 1.2rem;
  } 

  > :not(:last-child) {
    border-bottom: 0.1rem solid $container-border-color;
  }
}


.checkDescription {
  @apply text-base italic;

  color: $grey-text-color;
}

.outlineCircle {
  @apply mr-6 w-12 h-12;

  border-radius: 50%;
  border: 1px solid $circle-border-color;
}