$success-color: #20A164;
$failed-color: #E22D4C;
$description-color: #61738E;

.mainContainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0.4rem; 
  border-radius: 0.8rem;
  position: relative;

  img {
    border-radius: 0.8rem;
  }
}

.success { 
  border: 0.1rem solid $success-color;
}

.failed {
  border: 0.1rem solid $failed-color;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: $description-color;
}