$compatibility-modal-bg-color: #ffffff;
$compatibility-modal-border-color: #D6DEE5;
$compatibility-modal-btn-bg-color:  #0080FF;
$compatibility-modal-btn-color:  #ffffff;
$compatibility-modal-count-color:  #000000;

.compatibility-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  gap: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $compatibility-modal-bg-color;
  border-radius: 1.6rem;
  border: 0.1rem solid $compatibility-modal-border-color;
  padding: 2.4rem 3.2rem;
  width: 80vw;
  align-items: center;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }

  &__warning {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;

    &--mini {
      font-size: 1rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__action-btn {
    display: flex;
    padding: 1rem 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    background: $compatibility-modal-btn-bg-color;
    color: $compatibility-modal-btn-color;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__point {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    align-items: baseline;
  }

  &__point-icon {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
  }

  &__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    float: left;
  }

  &__timer-wrap {
    display: none; 
    flex-direction: column;
  }

  &__count-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__count {
    color: $compatibility-modal-count-color;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
  }

  &__svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &__circle-animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
  }

  &__note {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    width: 80%;
  }

  &__warning-icon {
    margin-right: 1rem;
  }

  &__screenshare-info {
    ul {
      color: gray;
      font-size: 1.6rem!important;
      margin-top: 0;
      padding-left: 1.6rem;
    }
    div {
      font-size: 2.4rem!important;
    }
  }
}

#fullscreen-share-button {
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}
