$fullscreen-blocker-icon-bg-color: #851A2D;
$fullscreen-blocker-bg-color: #A42137;
$fullscreen-blocker-font-color: white; 
$fullscreen-blocker-key-block-bg-color: #000000;
$fullscreen-blocker-icon-border-color: #0080FF;
$warning-modal-icon-bg-color: #851A2D;

.fullscreen-blocker {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #ffffff !important;
  z-index: 1000;
  display: block;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;

  &__content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5rem;

    &--hidden {
      display: none;
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 3.2rem;
    max-width: 48rem;
    background-color: $fullscreen-blocker-bg-color;
    color: $fullscreen-blocker-font-color;
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 1.6rem 0px rgba(255, 142, 161, 0.50);
  }

  &__title {
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.2rem;
  }

  &__instruction {
    margin-top: 5.6rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    display: inline;
    line-height: 1.5;
  }

  &__key-block {
    color: $fullscreen-blocker-font-color;
    background-color: $fullscreen-blocker-key-block-bg-color;
    min-width: 9.2rem;
    height: 4.8rem;
    border-radius: 0.5rem;
    margin: 0 1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  &__key-text {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    white-space: nowrap;
    right: 0.5rem;
    bottom: 0.5rem;
  }

  &__timer {
    position: relative;
    float: left;
  }

  &__count-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__count {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
  }

  &__svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &__circle-animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
  }

  &__icon-wrap {
    background-color: $warning-modal-icon-bg-color;
    padding: 2.6rem 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.1rem;
    height: 6.4rem;
    width: 6.4rem;
  }

  &__fullscreen-icon {
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid $fullscreen-blocker-icon-border-color;
    position: absolute;
    top: 4.8rem;
    right: 4.8rem;
    cursor: pointer;
  }
}